* {
  font-family: 'Roboto', sans-serif;
}

.container {
  
  width: 500px;
  
}

form {
  width: 370px;
  margin: 2em auto;
  padding: 1em;
  border: 1px solid grey;
}

.btn-container{
  margin-top: 2.5em;
}




