* {
  font-family: 'Roboto', sans-serif;
}

.container {
  
  width: 500px;
  
}

form {
  width: 370px;
  margin: 2em auto;
  padding: 1em;
  border: 1px solid grey;
}

/* .avatar-container input {
  float: right;
  width: 70%;
}

.avatar {
  float: left;
  width: 20%;
} */

.btn-container{

  margin: 2.5em auto;
}




